body{
    background-image: url(../img/bg/design.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "A P-OTF SuiryuAtlas StdN";
    color: #333;
    overflow: hidden;
}

.tabFlex{
    padding: 10rem 4rem;
    justify-content: flex-start;
    align-items: start;
}
.meisi{
    width: 23%;
}
.detail{
    padding-left: 2rem;
}
.candle{
    width: 22%;
}
.no-name_design{
    width: 80%;
}