html{
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}
body{
    background-image: url(../img/bg/home.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "A P-OTF SuiryuAtlas StdN";
    padding: 2rem;
}
.contentWrap{
    display: flex;
    justify-content: space-between;
}
.workSolo,.workTeam{
    width: 30rem;
    height: 26rem;
    text-align: center;
    line-height: 18rem;
    clip-path: polygon(0 7%, 100% 0%, 100% 75%, 50% 76%, 41% 85%, 32% 75%, 0 74%);
    font-size: 2.8rem;
    background: #E1E1E1A6;
}
.workTeam{
    margin-right: 12rem;
    transform: rotate(-1deg);
}
.workSolo{
    transform: rotate(-2deg);
    /* margin-right: 23rem; */
}
.subWrap{
    padding: 6rem 0 0 6rem;
}
.sub{
    margin-bottom: 4rem;
    padding: 1rem 6rem;
    font-size: 2.4rem;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    border: 3px solid #fff;
    background-color: #E1E1E1A6;
    width: fit-content;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12rem;
}
.serifWrap{
    padding-left: 14rem;
}
.name,.serif{
    background: #4FF4FF99;
}
.name{
    width: fit-content;
    padding: 0.5rem 1.6rem;
    font-size: 1.6rem;
}
.serif{
    padding: 4rem 8rem 4rem 4rem;
    font-size: 2rem;
    font-family: "A P-OTF Shuei NGo Kin StdN";
} 

.modal{
    width: 100rem;
    height: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}
.contactWrap{
    display: none;
    text-align: center;
    background-color: #FB4FFFCC;
}
.contactWrap i{
    font-size: 5rem;
}
.pWrap{
    display: none;
}
.profileWrap{
    padding: 4rem;
    display: flex;
    align-items: center;
    border-top: 8rem solid #4FF4FF99;
    border-radius: 2.5rem;
    color: #fff;
    font-family: "A P-OTF Shuei NijimiMin Std";
    background: rgba(0, 0, 0, 0.90);
}
.profileWrap img{
    width: 25%;
}
.profile{
    padding-left: 4rem;
    font-size: 1.6rem;
}
.pro{
    padding-left: 2rem;
    font-size: 1.6rem;
}
.more{
    padding-top: 2rem;
    display: flex;
    gap: 4.5rem;
    list-style: none;
    line-height: 4rem;
}
.skill{
    display: flex;
    gap: 7rem;
}
.app{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.app img{
    width: 10%;
}
.app i{
    font-size: 4.2rem;
    color: #60E2FF;
}
