html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body{
    padding: 2rem;
    font-family: "A P-OTF SuiryuAtlas StdN";
    background-image: url(../img/bg/home.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.workWrap{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
}

.left{
    display: flex;
    flex-direction: column;
    /* gap: 12rem; */
}

.subWrap{
    display: flex;
    flex-direction: column;
    padding: 10rem 0 0 6rem;
}
.sub{
    width: fit-content;
    margin-bottom: 4rem;
    padding: 1rem 6rem;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    font-size: 2.6rem;
    color: #2e2e2e;
    text-decoration: none;
    border: 3px solid #fff;
    background-color: #E1E1E1A6;
}

.serifWrap{
    position: sticky;
    padding: 12rem 0 0 16rem;
}
.name,.serif{
    background: #4FF4FF99;
}
.name{
    width: fit-content;
    padding: 0.5rem 1.6rem;
    font-size: 1.6rem;
}
.serif{
    padding: 4rem 8rem 4rem 4rem;
    font-size: 2rem;
    font-family: "A P-OTF Shuei NGo Kin StdN";
} 

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 14rem;
}
.main a{
    text-decoration: none;
}
.workSolo,.workTeam{
    width: 30rem;
    height: 26rem;
    text-align: center;
    line-height: 20rem;
    color: #2e2e2e;
    font-size: 2.8rem;
    background: #E1E1E1A6;
}
.workTeam{
    clip-path: polygon(0 0%, 100% 0%, 100% 70%, 50% 75%, 41% 85%, 35% 76%, 0 80%);
    transform: perspective(100px) rotateY(-5deg);
    
}
.workSolo{
    clip-path: polygon(0 0%, 100% 0%, 100% 75%, 50% 76%, 41% 85%, 32% 75%, 0 74%);
    position: absolute;
    top: 48%;
    right: 70%;
    transform: perspective(100px) rotateY(-5deg);
}



