.menuWrap{
    display: flex;
    justify-content: space-between;
    padding:  0rem 4rem 0 4rem;
    color: #4FF4FF;
    background-image: url(../img/maru.svg);
    background-position: 4rem 2rem;
}
.menu{
    display: flex;
    align-items: baseline;
}
.menu h1{
    font-size: 2.8rem;
    padding: 5rem 3.2rem;
}
.menu h2{
    padding-left: 3rem;
    font-size: 2.4rem;
}
.small{
    font-size: 1.4rem;
}
.menuIcon{
    display: flex;
    gap: 5rem;
}
.menuIcon i{
    color: #fff;
    font-size: 5rem;
}
.menuIcon i:hover{
    color: #FB4FFF;
}
.modal{
    display: none;
    width: 100rem;
    height: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fa-xmark{
    position: absolute;
    top: 4%;
    right: 2%;
    color: #fff;
    font-size: 4rem;
}
.contactWrap{
    padding: 5rem 2rem 0 2rem;
    color: #fff;
    background-color: #FB4FFFCC;
}
.contactTtl{
    border-bottom: #fff 1px solid;
    margin-bottom: 2rem;
}
.from{
    border-bottom: #fff 1px solid;
    display: flex;
    gap: 4rem;
}
.contentText{
    margin-top: 2rem;
    background: #fafafa;
}
.bottomWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.4rem;
}
.link i{
    color: #fff;
}
.fa-paper-plane{
    color: #fff;
}
.profileWrapper{
    display: none;
    background-color: #000;
    border-radius: 20px;
}
.profileWrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #4FF4FF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}
.profileWrap{
    border-radius: 20px;
    margin-top: 11rem;
    padding: 0 4rem 0;
    display: flex;
    color: #fff;
    font-family: "A P-OTF Shuei NijimiMin Std";
}
.profileWrap img{
    width: 30%;
}
.profile{
    padding-left: 4rem;
    font-size: 1.6rem;
}
.pro{
    padding-left: 2rem;
    font-size: 1.6rem;
}
.more{
    padding-top: 2rem;
    display: flex;
    gap: 4.5rem;
    list-style: none;
    line-height: 4rem;
}
.skill{
    display: flex;
    gap: 7rem;
}
.app{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.app img{
    width: 10%;
}
.app i{
    font-size: 4.2rem;
    color: #4FF4FF;
}
