.menuWrap{
    display: flex;
    justify-content: space-between;
    padding:  0rem 4rem 0 4rem;
    color: #60E2FF;
    background-image: url(../img/maru.svg);
    background-position: 4rem 2rem;
}
.menu{
    display: flex;
    align-items: baseline;
}
.menu h1{
    font-size: 2.8rem;
    padding: 5rem 3.2rem;
}
.menu h2{
    padding-left: 3rem;
    font-size: 2.4rem;
}
.small{
    font-size: 1.4rem;
}
.menuIcon{
    display: flex;
    gap: 5rem;
}
.menuIcon i{
    color: #fff;
    font-size: 5rem;
}

.modal{
    display: none;
    width: 100rem;
    height: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fa-xmark{
    position: absolute;
    top: -10%;
    right: 2%;
    color: #fff;
    font-size: 4rem;
}
.contactWrap{
    line-height: 8rem;
    text-align: center;
    background-color: #FB4FFFCC;
}
.contactWrap i{
    font-size: 5rem;
}
.pWrap{
    display: none;
}

.profileWrap{
    display: none;
    height: 100vh;
    padding: 16rem 4rem 0;
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-family: "A P-OTF Shuei NijimiMin Std";
    background-image: url(../img/card.png);
}
.profileWrap img{
    width: 30%;
}
.profile{
    padding-left: 4rem;
    font-size: 1.6rem;
}
.pro{
    padding-left: 2rem;
    font-size: 1.6rem;
}
.more{
    padding-top: 2rem;
    display: flex;
    gap: 4.5rem;
    list-style: none;
    line-height: 4rem;
}
.skill{
    display: flex;
    gap: 7rem;
}
.app{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.app img{
    width: 10%;
}
.app i{
    font-size: 4.2rem;
    color: #60E2FF;
}
