.videoWrap{
    display: flex;
    gap: 4rem;
    padding: 10rem 10rem;
    flex-wrap: wrap;
}
.videoWrap section{ 
    width: 30%;
}
.videoWrap video{
    border-radius: 10px;
    width: 100%;
}
.videoInfo{
    list-style: none;
}